<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinyan.message.center.dal.mapper.XyIdPushDOMapper" >
  <resultMap id="BaseResultMap" type="com.xinyan.message.center.dal.model.XyIdPushDO" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="XY_ID" property="xyId" jdbcType="VARCHAR" />
    <result column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="IP_PORT" property="ipPort" jdbcType="VARCHAR" />
    <result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, XY_ID, INSTANCE_ID, TOKEN, IP_PORT, CREATED_AT, CREATED_BY, UPDATED_AT, UPDATED_BY
  </sql>

  <!-- 插入用户连接记录 -->
  <insert id="insertSelective" parameterType="com.xinyan.message.center.dal.model.XyIdPushDO" >
    REPLACE INTO
            T_XYID_PUSH
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="xyId != null" >
        XY_ID,
      </if>
      <if test="instanceId != null" >
        INSTANCE_ID,
      </if>
      <if test="token != null" >
        TOKEN,
      </if>
      <if test="ipPort != null" >
        IP_PORT,
      </if>
      <if test="createdAt != null" >
        CREATED_AT,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updatedAt != null" >
        UPDATED_AT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="xyId != null" >
        #{xyId,jdbcType=VARCHAR},
      </if>
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="ipPort != null" >
        #{ipPort,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>